ul,
ol,
li {
  margin: 0;
}
.h3 {
  font-size: 1.33rem;
}
a {
  text-decoration: none;
}
a:hover {
  -webkit-transition: all 150ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 150ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  text-decoration: none;
}
img {
  max-width: 100%;
}
h1.site-title {
  margin: 0;
}
.site-header {
  background: #292c30;
  padding: 20px 0;
}
.site-header .site-branding {
  text-align: center;
  padding: 50px 0;
}
.site-header .site-branding a {
  color: #00b8e7;
  font-size: 60px;
}
.site-header .main-navigation {
  display: block;
  margin-bottom: 20px;
}
.site-header .main-navigation ul {
  display: block;
  text-align: center;
}
.site-header .main-navigation ul li {
  display: inline-block;
  position: relative;
  float: none;
  height: 44px;
  line-height: 44px;
  vertical-align: top;
}
.site-header .main-navigation ul li a {
  color: #888;
  display: block;
  position: relative;
  padding: 0 1.25em;
  cursor: pointer;
  z-index: 10001;
}
.site-header .main-navigation ul li a span {
  display: block;
  position: relative;
}
.site-header .main-navigation ul li a span::after {
  background-color: rgba(151, 154, 161, 0.06);
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 3px;
  -webkit-transition: all 150ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 150ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.site-header .main-navigation ul li a:hover {
  color: #fff;
}
.site-header .main-navigation ul li a:hover span::after {
  background-color: #00b8e7;
}
.site-header .main-navigation ul li ul {
  opacity: 0;
  visibility: hidden;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  background: #2d2f34;
  border-color: #32363b;
  padding: 49px 0 5px 0;
  border-width: 1px;
  border-radius: 3px;
}
.site-header .main-navigation ul li ul li {
  text-align: left;
}
.site-header .main-navigation ul li:hover a {
  color: #fff;
}
.site-header .main-navigation ul li:hover a span::after {
  background-color: #00b8e7;
}
.site-header .main-navigation ul li:hover ul {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 150ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 150ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.site-header .main-navigation ul li:hover ul li a {
  color: #888;
  width: 160px;
}
.site-header .main-navigation ul li:hover ul li a:hover {
  color: #fff;
}
.site-header .main-navigation ul .current-menu-item a {
  color: #fff;
}
.site-header .main-navigation ul .current-menu-item a span::after {
  background-color: #00b8e7;
}
.site-content {
  background: #292c30;
}
.site-content article.post {
  background: #fff;
}
.site-content article.post .post_thumbnail {
  margin: -15px -15px 0 -15px;
}
