
@color-dark: #38385f;
@color-main: #58A7EF;
@color-gray: #9e9e9e;
@color-green: #35BB8E;

.transition(){
	-webkit-transition: all 150ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
	transition: all 150ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

ul,ol,li {
	margin: 0;
}
.h3 {
	font-size: 1.33rem;
}
a {
	text-decoration: none;
	&:hover {
		.transition();
		text-decoration: none;
	}
}
img {
	max-width: 100%;
}

// .container {
// 	max-width: 1240px;
// 	margin: 0 auto;
// }

.uk-panel-box {
	padding: 20px;
}
.uk-overlay {
	max-width: none;
}

h1.site-title {
	margin: 0;
}


.site-header {
	background: @color-dark;
	padding: 30px 0;
	.site-branding {
		text-align: center;
		padding: 50px 0;
		a {
			color: @color-green;
			font-size: 60px;
		}
	}
	.main-navigation {
		display: block;
		margin-bottom: 20px;
		ul {
			display: block;
			text-align: center;
			li {
				display: inline-block;
				position: relative;
				float: none;
				height: 44px;
			    line-height: 44px;
			    vertical-align: top;

				a {
					color: @color-gray;
					display: block;
				    position: relative;
				    padding: 0 1.25em;
				    cursor: pointer;
				    z-index: 10001;
				    span {
				    	display: block;
				    	position: relative;
				    	&::after {
				    		background-color: rgba(151, 154, 161, 0.06);
							content: '';
						    display: block;
						    position: absolute;
						    bottom: 0;
						    right: 0;
						    left: 0;
						    height: 3px;
							.transition();

				    	}
				    }
				    &:hover {
				    	color: #fff;
				    	span {
				    		&::after {
				    			background-color: @color-green;
				    		}
				    	}
				    }
				}
				ul {
					opacity: 0;
					visibility: hidden;
					-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    				box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
				    position: absolute;
				    top: 0;
				    left: 0;
				    z-index: 999; 
				    background: #3c3c6b;
				    border-color: #424277;
				    border-style: solid;
				    padding: 49px 0 5px 0;
				    border-width: 1px;
				    width: 150px;
				    //border-radius: 3px;

				    li {
				    	text-align: left;
				    	a {

				    	}
				    }
				}
				&:hover {
					a {
						color: #fff;
						span {
							&::after {
								background-color: @color-green;
							}
						}
					}
					ul {
						opacity: 1;
						visibility: visible;
						.transition();
						li {
							a {
								color: #888;
								width: 160px;
								&:hover {
									color: #fff;
								}
							}
						}
					}
				}
			}
			.current-menu-item {
				a {
					color: #fff;
					span {
						&::after {
							background-color: @color-green;
						}
					}
				}
			}
		}
	}
}

.site-content {
	background: @color-dark;

	article.post {
		background: #5A5E8A;
		-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    	.transition();
		.post_thumbnail {
			margin: -20px -20px 20px -20px;
		}
		.post_cat {
			padding: 0px 0 5px 0;
			span {
				width: 3px;
				height: 3px;
				display: inline-block;
				border: 3px solid lighten(@color-green, 10%);
				border-radius: 50%;
			}
			a {
				color: #8395BF;
				&:hover {
					color:#f8f8f8;
				}
			}
		}
		h2.entry-title {
			position: relative;
			a {
				color: #f8f8f8;
			}
			&::after {
				content: '';
				width: 35px;
				height: 3px;
				display: inline-block;
				background: #8395BF;
				position: absolute;
				bottom: -5px;
    			left: 0;
    			.transition();
			}
		}
		.entry-meta {
			background: @color-green;
		    margin: 0 -20px 10px -20px;
		    padding: 5px 20px;
		    font-size: 85%;
		    color: #eee;
		    a {
		    	color: #eee;
		    }
		    >span {
		    	margin-right: 15px;
		    	&+.comments-link {
		    		margin-right: 0;
		    		i {
		    			margin-right: 3px;
		    		}
		    	}
		    }
		}
		.entry-content {
			color: #ccc;
			margin-bottom: 20px;
			a {
				color: #ccc;
				text-decoration: underline;
				&:hover {
					color: #fff;
				}
			}
		}
		.entry-footer {
			>span {
				font-size: 85%;
				margin-right: 15px;
				padding-top: 6px;
				display: inline-block;
				i {
					color: #8395BF;
				}
				a {
					color: #8395BF;
				}
			}
			.more-link {
				background: transparent;
				border: 0;
				a {	
					color: @color-green;
					border: 1px solid @color-green;
					&:hover {
						color: #fff;
						background: @color-green;
					}
				}
			}
		}

		&:hover {
			-webkit-box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
    		box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
    		.entry-title {
    			&::after {
    				background: @color-green;
    			}
    		}
		}
	}
	.post-navigation {
		background: @color-green;
		padding: 20px;
		span {
			color: #ddd;
			a {
				color: #ddd;
			}
		}
	}
	.comments-area {
		background: #5A5E8A;
	}
}
.widget-area {
	color:#9e9e9e;
	.widget {
		margin-bottom: 20px;
		a {
			color: #9e9e9e;
			&:hover {
				color: #fff;
			}

		}
		h2 {
			color: #d2d2d2;
			position: relative;
			font-size: 18px;
			&::after {
				content: '';
				width: 35px;
				height: 3px;
				display: inline-block;
				background: @color-green;
				position: absolute;
				bottom: -3px;
    			left: 0;
			}
		}
		ul {
			list-style-type: none;
			padding-left: 0;
		}
	}
}
.site-footer {
	padding: 30px 0;
	background: darken(@color-dark, 10%);
}